html, body {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
  color: #002966;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
