html, body {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
  color: #002966;
  /* min-width: 350px; */
}

.container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile {
  max-height: 400px;
  margin: 0 auto;
}

.intro {
  font-family: 'Raleway', Sans-Serif;
  font-weight: bold;
  font-size: 7vw;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
  margin: 25px 0;
}

.intro2 {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  margin: 0 calc(5% - 16px);
}

.footer {
  width: 100%;
  /* height: 40px; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-intro {
  width: 90%;
  margin: 0 10% 40px 10%;
  display: flex;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Raleway', Sans-Serif;
  font-weight: bold;
  text-transform: uppercase;
}

.fi1 {
  width: calc(50% - 100px);
  flex: 3;
  height: 12px;
  border-bottom: solid 2px #0099ff;
}

.fi2 {
  width: 200px;
  font-size: 100%;
  height: 26px;
}

.footer-btns {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #0099ff;
  padding: 10px;
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #002966;
}

@media (min-width: 1000px) {
  .intro {
    font-size: 70px;
  }

  .intro2 {
    font-size: 30px;
  }

  .container {
    margin: 0 calc((100vw - 800px)/2);
  }
}

@media (max-width: 500px) {
  .profile {
    max-height: 200px;
  }

  .footer-btns {
    flex-direction: column;
    height: 100%;
  }

  .button {
    width: 150px;
  }

  .intro {
    font-size: 35px;
    line-height: 35px;
  }

  .intro2 {
    font-size: 15px;
  }

  .fi1 {
    flex: 3;
    height: 12px;
    border-bottom: solid 2px #0099ff;
  }

  .fi2 {
    min-width: calc(100% - 50%);
    flex: 5;
    font-size: 100%;
    height: 26px;
  }
}
