html, body {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
  /* color: #002966; */
}

.btn-hover:hover {
  background-color: rgba(0, 0, 0, .2) !important;
}

#navBar {
  position: fixed;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#menuBtn {
  transition: background-color 0.5s ease;
}

.scrolled {
  opacity: 40%;
}

#wideBar {
  display: block;
}

#narrowBar {
  display: none;
}

.w3-dropdown-content {
  position: fixed !important;
  top: 54px;
  right: 0;
  z-index: 100;
}

#box1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url(../media/codes-coding-computer-247791.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

#box1Title {
  color: white;
  font-size: 5vw;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.box2 {
  display: table;
  height: 60vh;
  width: 100%;
}

.box2Title {
  color: black;
  font-size: 2em;
}

#skills {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url(../media/computer-desk-electronics-374074.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.skills {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skills > div {
  width: 50%;
  /* max-height: 100%; */
  height: 100%;
}

.feSkills, .beSkills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.feSkills > div, .beSkills > div {
  height: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feSkills img, .beSkills img {
  width: 100px;
  height: 100px;
}

#portfolio {
  width: 100%;
  height: 75vh;
}

.portfolio {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url(../media/DSC_7883.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.about {
  padding: 35px 10vw;
  mix-height: 50vw;
  width: 100%;
  color: white;
  font-size: 2.5vw;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySlides {
  display: none;
  align-items: center;
  height: 100%;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

@media (min-width: 1300px) {
  .about {
    font-size: 28px;
  }

  .box2Title {
    font-size: 2em;
  }
}

@media (max-width: 885px) {
  #wideBar {
    display: none;
  }

  #narrowBar {
    display: block;
  }

  #box1Title {
    font-size: 8vw;
  }

  .box2Title {
    font-size: 1.7em;
  }

  .skills {
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills > div {
    width: 100%;
    height: 50%;
  }

  .feSkills img, .beSkills img {
    width: 10vw;
    height: 10vw;
  }

  #portfolio {
    height: 100vh;
  }

  .portfolio {
    flex-direction: column;
  }

  .about {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .about {
    font-size: 16px;
  }

  #box1Title {
    font-size: 10vw;
  }

  .box2Title {
    font-size: 1.1em;
  }

  .skills {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills > div {
    width: 100%;
    height: 50%;
  }

  .feSkills img, .beSkills img {
    width: 15vw;
    height: 15vw;
  }

  #portfolio {
    height: 100vh;
  }

  .portfolio {
    flex-direction: column;
  }
}
